@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<div tabindex="0" @onkeydown="HandleKey">
    <MudLayout>
        <MudAppBar Color="Color.Primary">Aegis Dashboard - Alpha Version</MudAppBar>
        <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Variant="DrawerVariant.Mini">
            <NavMenu />
        </MudDrawer>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>

@code {
    [Inject] NavigationManager Nav { get; set; } = default!;

    private void HandleKey(KeyboardEventArgs e)
    {
        switch (e.Key.ToLowerInvariant())
        {
            case "d":
                Nav.NavigateTo("/");
                break;
            case "i":
                Nav.NavigateTo("/incidents");
                break;
            case "p":
                Nav.NavigateTo("/policies");
                break;
        }
    }
}
