<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All" accesskey="d">Dashboard</NavLink></li>
        <li><NavLink href="/incidents" accesskey="i">Incidents</NavLink></li>
        <li><NavLink href="/policies" accesskey="p">Policies</NavLink></li>
    </ul>
</nav>
